@model IvanHotel.Models.KabupatenKota

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Back/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KabupatenKota</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provinsi.Nama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provinsi.Nama)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
