@model IvanHotel.Models.Kamar

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Back/_Layout.cshtml";
}
<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">Detail Kamar</h3>
    </div>
    <div class="box-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NomorKamar)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NomorKamar)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Kapasitas)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Kapasitas)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Lantai)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lantai)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TipeKamar.Nama)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TipeKamar.Nama)
            </dd>
            <dt>
                Fasilitas
            </dt>
            <dd>
                @foreach (var item in ViewBag.ListFasilitas)
                {
                    <input type="checkbox" checked disabled/> @item <br />
                }
            </dd>
        </dl>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-warning btn-flat"})
            @Html.ActionLink("Back to List", "Index", "", new { @class="btn btn-default btn-flat"})
        </p>
    </div>
</div>