@model IvanHotel.ViewModels.LayananVM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Back/_Layout.cshtml";
}
<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">Details Layanan Spa</h3>
    </div>
    <div class="box-body">
        <h3>Yakin akan menghapus ini?</h3>
        <div>
            @if (Model.TipeLayananID == 1)
            {
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Nama)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nama)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Harga)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Harga)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Satuan)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Satuan)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Kualitas)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Kualitas)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NamaTipeLayanan)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NamaTipeLayanan)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Deskripsi)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Deskripsi)
                    </dd>
                </dl>
            }
            else
            {
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Nama)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nama)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Harga)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Harga)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Durasi)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Durasi)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Peralatan)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Peralatan)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.NamaTipeLayanan)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NamaTipeLayanan)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Deskripsi)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Deskripsi)
                    </dd>
                </dl>
            }

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    @Html.ActionLink("Edit", "Edit", new { id=Model.ID}, new { @class = "btn btn-warning btn-flat" })
                    @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-default btn-flat" })
                </div>
            }
        </div>
    </div>
</div>