<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
@Html.Partial("_Header")
<body>
    <!--header starts-->
    @Html.Partial("_Menu")
    @RenderBody()
    @Html.Partial("_Footer")
    <!---->
</body>
    @RenderSection("Scripts",required:false)
</html>
