<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
@Html.Partial("_Header")
<body>
    <!--header starts-->
    @*@Html.Partial("_Menu")*@
    <div class="header">
        <div class="top-header">
            <div class="container">
                <div class="logo">
                    @*<a href="index.html"><img src="images/logo.png" /></a>*@
                </div>
                <span class="menu"> </span>
                <div class="m-clear"></div>
                <div class="top-menu">
                    <ul>
                        <li @{var active = "class=active";
                            if(ViewBag.Menu == 1){
                                @active;
                            }
                            }><a href="@Url.Action("Index","Home")">HOME</a></li>
                        <li @if (ViewBag.Menu == 2) { @active ; }><a class="scroll" href="@Url.Action("Fasilitas","Home")">FASILITAS</a></li>
                        @*<li><a class="scroll" href="@Url.Action("Restoran","Home")">RESTORAN</a></li>*@
                        <li @if (ViewBag.Menu == 4) { @active  ; }><a class="scroll" href="@Url.Action("Room","Home")">ROOM</a></li>
                        <li @if (ViewBag.Menu == 6) { @active  ; }><a class="scroll" href="@Url.Action("Index","Booking")">BOOKING</a></li>
                        <li @if (ViewBag.Menu == 5) { @active  ; }><a class="scroll" href="@Url.Action("Contact","Home")">KONTAK</a></li>
                    </ul>
                    <script>
                        $("span.menu").click(function () {
                            $(".top-menu ul").slideToggle(200);
                        });
                    </script>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
            @RenderSection("Banner", required: false)
    </div>
    @RenderBody()
    @Html.Partial("_Footer")
    <!---->
</body>
    @RenderSection("Scripts",required:false)
</html>
