@model IvanHotel.Models.TipeKontak
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Back/_Layout.cshtml";
}
<div class="box">
    <div class="box-header">
        <b>Editor Jenis Kelamin</b>
    </div>
    <div class="box-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.ID)

                <div class="form-group">
                    @Html.LabelFor(model => model.Nama, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Nama, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Nama)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-primary btn-flat" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-default btn-flat" })
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
