@model IvanHotel.Models.TransaksiTamu

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Back/_Footer.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TransaksiTamu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TMT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TMT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pegawai.NIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pegawai.NIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tamu.Nama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tamu.Nama)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
